.myform{
    max-width: 400px;
    margin: 10px auto;
}

select{
    display: block !important;
}

 body {
background-image: url("https://wallpapers.com/images/featured/light-grey-background-3rpc9nmamj0y6ff7.jpg");
  }
  
 
